<div class="qheader">
  <div class="qbook">


    <carousel [interval]="myInterval" [noWrap]="noWrapSlides">
      <slide *ngFor="let slidez of slides; let index=index" [active]="slidez.active">
        <div class="carousel-caption">
          <h2>Slide {{index}}</h2>

          <p>{{slidez.text}}</p>
        </div>
      </slide>
    </carousel>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card longStory">
        <div class="col col-sm-6 left"
        style="background-image: url('./images/mock/magazine-cover-1139323_640.jpg')">
        <div class="statistic">
          <div class="view">
            <span class="number">650</span>
            <span class="text">ดู</span>
          </div>
          <div class="like">
            <span class="number">15</span>
            <span class="text">ชอบ</span>
          </div>
        </div>
      </div>
      <div class="col col-sm-6 right">
        <a href="#">
          <div class="content-story">
            <h4 class="title">PERFUME: เสาวธาร</h4>
            <p class="description">Nam nibh. Nunc varius facilisis eros. Sederat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer.</p>
          </div>
        </a>
        <ul class="list-chapter">
          <a href="#">
            <li>
              #1: erat Curabitur.
            </li>
          </a>
          <a href="#">
            <li class="more">
              <span class="glyphicon glyphicon-option-horizontal"></span>
            </li>
          </a>
          <a href="#">
            <li>
              #1: erat Curabitur.
            </li>
          </a>
        </ul>
        <div class="writer-shortcut">
          <div class="avatar"
          style="background-image: url('./images/mock/avatar.jpg')"></div>
          <div class="allName">
            <div class="penname">ร ภัทร</div>
            <div class="nickname">เทพเจ้าบทความ</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card shortStory">
      <div class="cover"
      style="background-image: url('./images/mock/snow-covered-1246246_640.jpg')">
      <div class="statistic">
        <div class="view">
          <span class="number">650</span>
          <span class="text">ดู</span>
        </div>
        <div class="like">
          <span class="number">15</span>
          <span class="text">ชอบ</span>
        </div>
      </div>
    </div>
    <div class="content">
      <a href="#">
        <div class="content-story">
          <h4 class="title">PERFUME: เสาวธาร</h4>
          <p class="description">Nam nibh. Nunc varius facilisis eros. Sederat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer.</p>
        </div>
      </a>
      <div class="date-line">
        <div class="date-text">1 สิงหาคม 2559</div>
      </div>
      <div class="writer-shortcut">
        <div class="avatar"
        style="background-image: url('./images/mock/avatar.jpg')"></div>
        <div class="allName">
          <div class="penname">ร ภัทร</div>
          <div class="nickname">เทพเจ้าบทความ</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-md-offset-1">
  <div class="card photo" style="background-image: url('./images/mock/travel-1564734_640.jpg')">
  </div>
</div>
<div class="col-md-6">
  <div class="card shortStory">
    <div class="cover"
    style="background-image: url('./images/mock/snow-covered-1246246_640.jpg')">
    <div class="statistic">
      <div class="view">
        <span class="number">650</span>
        <span class="text">ดู</span>
      </div>
      <div class="like">
        <span class="number">15</span>
        <span class="text">ชอบ</span>
      </div>
    </div>
  </div>
  <div class="content">
    <a href="#">
      <div class="content-story">
        <h4 class="title">PERFUME: เสาวธาร</h4>
        <p class="description">Nam nibh. Nunc varius facilisis eros. Sederat. In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer.</p>
      </div>
    </a>
    <div class="date-line">
      <div class="date-text">1 สิงหาคม 2559</div>
    </div>
    <div class="writer-shortcut">
      <div class="avatar"
      style="background-image: url('./images/mock/avatar.jpg')"></div>
      <div class="allName">
        <div class="penname">ร ภัทร</div>
        <div class="nickname">เทพเจ้าบทความ</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
