<div class="qheader" style="background-image: url('./images/mock/snow-covered-1246246_640.jpg')">
  <div class="qcaption">

  </div>
</div>
<div class="container-fluid container-reader">
  <div class="col col-md-9 col-md-push-3">
    <div class="read-qbook">
      <div class="read-content">

        <div id="lipsum">
          <h1>Lorem ipsum dolor sit amet</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam, purus eu viverra maximus, nisi est venenatis risus, et eleifend leo magna et elit. Nam erat turpis, pharetra non massa et, sollicitudin ultricies diam. Cras commodo blandit lacus sed molestie. Praesent diam tellus, elementum eu nisi et, iaculis dictum est. Phasellus imperdiet tempus est vel dapibus. Mauris in blandit odio. Sed id augue vel elit convallis varius at aliquam dui. Mauris nisi tortor, placerat molestie tempor et, luctus a lectus. Duis finibus lacus et tortor placerat, vel iaculis justo mollis. Quisque in nisi ac massa sodales commodo in in mauris. Etiam vitae ornare dolor. Morbi nec enim dolor. Aenean accumsan purus vitae ipsum interdum, a blandit mi tristique. Fusce pharetra consectetur ligula sed luctus.
          </p>
          <p>
            Pellentesque eget ullamcorper orci. Nullam sed efficitur justo, vitae commodo orci. Vestibulum mattis, mi eu ullamcorper blandit, risus felis volutpat eros, eu rutrum augue ex dapibus est. Phasellus mattis mauris sed luctus iaculis. Integer mollis tincidunt augue, sit amet viverra odio aliquet vitae. Nullam ac cursus lectus. Sed maximus laoreet aliquet. Morbi auctor luctus odio, vitae viverra lorem sagittis id. Vestibulum scelerisque nunc nec interdum fermentum. Suspendisse massa lacus, facilisis imperdiet blandit vel, tincidunt quis ex. Nulla lacus ipsum, volutpat a odio sodales, semper scelerisque augue.
          </p>
          <p>
            Curabitur mattis enim vel velit cursus, et faucibus nunc pellentesque. Mauris sollicitudin, lectus vel sagittis congue, mi nibh lacinia nulla, nec vehicula nunc mi in erat. Curabitur pretium tellus augue, ut tincidunt velit vulputate sit amet. Quisque ullamcorper, enim vel suscipit pulvinar, lectus orci semper urna, id ullamcorper nisi urna in dui. Vivamus sodales rutrum leo, nec tincidunt eros tincidunt quis. Nulla ex enim, viverra eu eros id, imperdiet iaculis tellus. Donec pharetra vel eros vel imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent feugiat nunc a orci dignissim, viverra molestie justo rhoncus. Duis placerat porttitor urna. Donec sollicitudin quam non viverra pharetra.
          </p>
          <p>
            Donec luctus efficitur massa, in lobortis purus gravida non. Nullam fermentum eleifend consequat. Quisque volutpat massa nulla, mattis cursus metus gravida a. Morbi sed finibus est. Nullam at ante et est finibus facilisis quis sit amet elit. Aenean at massa ultrices leo sollicitudin aliquam. Morbi ut quam leo. Curabitur viverra bibendum orci, quis ultricies nisl vulputate quis. Quisque id aliquet est. Suspendisse eu risus vel dolor posuere sodales sed in tortor.
          </p>
          <p>
            Donec placerat vehicula egestas. Suspendisse imperdiet neque in odio mattis rutrum. Sed non dictum ante, sed mattis massa. Curabitur et venenatis massa, a dapibus lectus. Quisque laoreet enim eget tellus tempus, non aliquam libero sagittis. Ut eget massa ligula. Vestibulum et enim quis massa laoreet auctor. Pellentesque at ex iaculis, elementum ante quis, tincidunt sem. Cras eget viverra lectus, blandit vehicula ex. Aliquam efficitur commodo justo nec accumsan.
          </p>
        </div>

        </div>
      </div>
    </div>
    <div class="col col-md-3 col-md-pull-9">
      sdfsdf
    </div>
  </div>
